html,
body{
    padding: 0;
    margin: 0;
    height: 100%;
}

/* Оболочка */
.wrapper{
    height: 100%;
}

/* Боковое меню */
.block_sidebar{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 240px;
    height: 100%;
    background: #F3F4F9;
    border-radius: 0px;
}

/* Блок с логотипом */
.block_logo{
    position: relative;
    width: 121px;
    height: 50px;
    left: 41px;
    top: 41px;
    display: flex;
    align-items: center;
}

/* Купон */
.block_logo .logo-coupon{
    float: left;
    position: relative;
    width: 50px;
    height: 50px;
    left: 0;
    top: calc(50% - 50px/2);
    overflow: hidden;
    margin-right: 10px;
}

/* Основной круг купона  */
.block_logo .logo-coupon .vector-circle{
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: #34ABE0;
    overflow: hidden;
}

/* Блок с процентом внутри купона */
.vector-circle .vector-percent{
    position: absolute;
    width: 25px;
    height: 20px;
    bottom: 0;
    right: 25%;
    z-index: 2;
    background: url("../images/percent.svg");
}

/* Блок с лентой купона */
.vector-circle .vector-tape{
    position: absolute;
    width: 50px;
    height: 50px;
    transform: translate(0px, 45%) rotateZ(45deg);
    background-color: #F9EED7;
    z-index: 1;
}

/* Блок с зубцами */
.vector-circle .vector-jagged{
    position: absolute;
    width: 26px;
    height: 35px;
    transform: translate(93.5%, 5%);
    background: url("../images/jagged.svg") no-repeat;
}

/* Текст логотипа */
.logo-text{
    vert-align: middle;
    font-size: 16px;
    font-family: Poppins-Medium;
}

/* Блок с меню */
.block_sidebar-menu{
    margin-top: 100px;
    width: 100%;
    height: auto;
}

/* Пункт меню */
.block_sidebar-menu .sidebar-menu-item{
    position: relative;
    height: 65px;
    padding-left: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* Блок с иконкой пункта меню */
.sidebar-menu-item .menu-item-icon{
    float: left;
    width: 24px;
    height: 24px;
    margin-right: 15px;
}

/* Блок с текстом пункта меню */
.sidebar-menu-item .menu-item-text{
    font-size: 16px;
    font-family: OpenSans;
    font-weight: bold;
    color: #333333;
}

/* ------------------ Иконки ---------------------- */
.icon-catalog{
    background: url("../images/menu-icons/catalog.svg");
}

.icon-health{
    background: url("../images/menu-icons/health.svg");
}

.icon-beauty{
    background: url("../images/menu-icons/beauty.svg");
}

.icon-enjoy{
    background: url("../images/menu-icons/enjoy.svg");
}

.icon-car{
    background: url("../images/menu-icons/car.svg");
}

/* ------------------ Иконки и текст при наведении курсора ------------------ */
.active .menu-item-text,
.hover .menu-item-text{
    color: #309DCD;
}

.active .icon-catalog,
.hover .icon-catalog {
    background: url("../images/menu-icons-active/catalog.svg");
}

.active .icon-health,
.hover .icon-health{
    background: url("../images/menu-icons-active/health.svg");
}

.active .icon-beauty,
.hover .icon-beauty{
     background: url("../images/menu-icons-active/beauty.svg");
}

.active .icon-enjoy,
.hover .icon-enjoy{
    background: url("../images/menu-icons-active/enjoy.svg");
}

.active .icon-car,
.hover .icon-car{
    background: url("../images/menu-icons-active/car.svg");
}

/* Индикатор активности пункта */
.active:before{
    content: "";
    position: absolute;
    left: 0;
    height: 50%;
    width: 3px;
    background: #309DCD;
}

/* Основной блок с контентом */
.main{
    height: 100%;
    position: relative;
    margin-left: 240px;
    background-color: #fafafa;
}

/* Блок с формой поиска */
.block_search{
    position: relative;
    top: 0;
    left: 0;
    height: 120px;
    background-color: #ffff;
    padding: 40px 60px;
}

/* Заголовок страницы, размещен в блоке с формой поиска */
.block_search .title{
    font-family: OpenSans;
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 30px;
}

.block_search .search-form{
    position: relative;
    display: flex;
    align-items: center;
    font-family: OpenSans;
    height: 50px;
    font-size: 18px;
    border: 1px solid rgba(51, 51, 51, 0.2);
    box-sizing: border-box;
    border-radius: 50px;
    padding: 12px 15px;
}

.search-form img{
    position: absolute;
    left: 16px;
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.search-form form{
    position: relative;
    width: 100%;
    height: 90%;
    margin-left: 35px;
}

.search-form input[type="search"]{
    width: 100%;
    line-height: 50px;
    position: absolute
}

/* Подключение шрифтов */
@font-face {
    font-family: Poppins-Medium;
    src: url("../fonts/Poppins-Medium.ttf");
}

@font-face {
    font-family: OpenSans;
    src: url("../fonts/OpenSans-Regular.ttf");
}